{% extends "conference_base.html" %}
{% load thumbnail %}
{% load staticfiles %}


{% block title %}
    {{ conference.title }}
{% endblock title %}

{% block head %}
    {% if style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/default_style.css' %}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/default_style.css' %}"/>
    {% endif %}
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="home" class="col-md-8 col-md-offset-2">
                <h1>{{ conference.title }}</h1>
                <h2>{{ conference.location }}</h2>
                <h3>{{ conference.start|date:"j" }} - {{ conference.finish|date:"j M Y" }}</h3>

                <hr />

                {% if guests %}

                <h2>Guest Speakers</h2>


                <div class="guest-container">
                    <div class="row">
                        {% for guest in guests %}
                        <div class="col-sm-4 col-xs-12 col-md-4">
                            <div class="user-photo">
                                {% thumbnail  guest.pic "180x180" crop="center" as im %}
                                    <img src="{{ im.url }}" />
                                {% endthumbnail %}
                                <p class="name">{{ guest.user.first_name}} <br/> {{ guest.user.last_name }}</p>
                                <p class="affiliation">{{ guest.affiliation}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr />
                {% endif %}

                {% if symposia %}

                <h2>Symposia</h2>

                <div class="symposia-container">
                    <div class="row">
                        {% for symposium in symposia %}
                        <div class="col-sm-6" >
                            <div class="symposium-photo">
                                <p class="title">{{ symposium.title }}</p>
                                {% thumbnail  symposium.pic "400x200" crop="center" as im %}
                                    <img src="{{ im.url }}" />
                                {% endthumbnail %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr />

                {% endif %}

                {% if workshops %}

                <h2>Workshops</h2>

                <div class="guest-container">
                    <div class="row">
                        {% for workshop in workshops %}
                        <div class="col-lg-12" >
                            <div class="workshop-photo">
                                <p class="name">{{ workshop.title }}</p>
                                {% thumbnail  workshop.pic "700x200" crop="center" as im %}
                                    <img src="{{ im.url }}" />
                                {% endthumbnail %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr />

                {% endif %}

                {% if deadlines %}

                <h2>Deadlines</h2>
                <ul>
                    {% for deadline in deadlines %}
                        <li>{{ deadline.description }} - {{ deadline.date }}</li>
                    {% endfor %}
                </ul>

                <hr />

                {% endif %}

                {% if committee %}

                <h2>Committee</h2>

                 <div class="committee-container">
                    <div class="row">
                        {% for member in committee %}
                        <div class="col-xs-6 col-sm-3" >
                            <div class="user-photo">
                                {% thumbnail  member.pic "180x180" crop="center" as im %}
                                    <img src="{{ im.url }}" />
                                {% endthumbnail %}
                                <p class="name">{{ member.user.first_name }} <br /> {{ member.user.last_name }}</p>
                                <p class="affiliation">{{ member.affiliation }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr />
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}