body {
    font-family: Roboto;
    font-size: 1.8em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

div.center {
    text-align: center;
    border-top: 100px solid gray;
    border-right: 100px solid transparent;
}

.jumbotron {
    height: 100vh;
    background-color: #1b1112;

}

.jumbotron h1 {
    color: #98d55e
}

.jumbotron h2, h3 {
    color: #D0D0D0
}
.navbar {
    margin-bottom: 0px;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.left-title {

}

.user-photo {
    text-align: center;
}

.user-photo img {
    width: 100%;
    max-width: 200px;
    padding: 2px;
    border-radius: 50%;
    border: 2pt solid #ADADAD;
    background: #fff;
    margin: 2%;
}


.user-photo p.name {
    text-align: center;
    font-size: 1.2em;
    font-weight: 200;
    margin-bottom: 5px;
}


.user-photo p.affiliation {
    text-align: center;
    font-size: 1em;
}

.workshop-photo img {
    width: 100%;
    padding: 2px;
    border-radius: 10px;
    border: 2pt solid #ADADAD;
    background: #fff;
    margin-bottom: 2%;
}

.workshop-photo p.name {
    text-align: right;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 5px;
}

.symposium-photo img {
    width: 100%;
    padding: 2px;
    border-radius: 10px;
    border: 2pt solid #ADADAD;
    background: #fff;
    margin-bottom: 2%;
}

.symposium-photo p.title {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 5px;
}

footer {
    background: #e7e7e7;
}

div.container.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

form.conference-form {
    padding-bottom: 0px;
}

footer div.copyright {
    text-align: center;
    padding-bottom: 20px;

}

label.control-label {
    margin-top: 10px;
}

div.social-icons {
    text-align: left;
}

div.social-icons i.fa {
    margin: 1%;
}

div#home {
    padding-top: 60px;
}