{% extends 'conference_base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}
    {% if style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/default_style.css' %}"/>
    {% endif %}
{% endblock head %}

{% block title %}
Registration Form - {{ conference.title }}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Registration Form</h1>
            <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

{% endblock content %}