{% extends 'conference_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
    {% if style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/default_style.css' %}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/default_style.css' %}"/>
    {% endif %}
{% endblock head %}

{% block title %}
    Login - {{ conference.title }}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
         <div class="col-md-8 col-md-offset-2">
            <h1>Login</h1>
             <br />
            <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <br />
            <button class="btn btn-default" type="submit">Submit</button>
            </form>
         </div>
    </div>
</div>
{% endblock content %}